{
  config : {
    autoProfile: {
      prompts: [{
          // 'MyHost:~ me$ ' default MacOS bash prompt
          pattern: '^(\\S+):([/~].*) ([a-z_][a-z0-9_\\-\\.]*[\\$]?)[\\$#]\\s*$',
          hostname: 1,
          path: 2,
          username: 3
        },{
          // 'me@MyHost:~$ ' default Linux bash prompt
          pattern: '^([a-z_][a-z0-9_\\-\\.]*[\\$]?)@(\\S+):([\\/~].*)[\\$#]\\s*$',
          username: 1,
          hostname: 2,
          path: 3
        }
      ],
      profiles: [{
          triggers: [
            'root@',
          ],
          backgroundColor: '#400'
        },
        {
          triggers: [
            '@scotchbox'
          ],
          backgroundColor: '#040'
        },
        {
          triggers: [
            '/project'
          ],
          backgroundColor: '#004'
        }
      ],
      stripAnsiColors: true //default
    }
  }
}
