{
  config : {
    autoProfile: {
      prompts: [{
          // 'MyHost:Documents me$ ' default MacOS bash prompt
          pattern: '^(\\S+):(.*) ([a-z_][a-z0-9_\\-\\.]*[\\$]?)[\\$#]\\s*$',
          hostname: 1,
          path: 2,
          username: 3
        },{
          // 'me@MyHost:~$ ' default Linux bash prompt
          pattern: '^([a-z_][a-z0-9_\\-\\.]*[\\$]?)@(\\S+):([\\/~].*)[\\$#]\\s*$',
          username: 1,
          hostname: 2,
          path: 3
        },{
          // 'me@MyHost ~> ' default fish prompt
          pattern: '^([a-z_][a-z0-9_\\-\\.]*[\\$]?)@(\\S+) ([\\/~].*)[>#]\\s*',
          username: 1,
          hostname: 2,
          path: 3
        },{
          // 'MyHost% ' default zsh prompt
          pattern: '^(\\S+)% ',
          hostname: 1
        },{
          // '➜  ~' default oh-my-zsh prompt (robbyrussell theme)
          pattern: '^➜  ([\\/~].*) ',
          path: 1
        },
        {
          // 'me@MyHost MINGW64 ~ (master) ' default git-bash prompt on Windows
          pattern: "^([a-z_][a-z0-9_\\-\\.]*[\\$]?)@(\\S+) MINGW64 ([\\/~].*)(\s|$)",
          username: 1,          
          hostname: 2,          
          path: 3        
        }
      ],
      profiles: [{
          triggers: [
            'root@',
          ],
          backgroundColor: '#400'
        },
        {
          triggers: [
            '@scotchbox'
          ],
          backgroundColor: '#040'
        },
        {
          triggers: [
            '/project'
          ],
          backgroundColor: '#004'
        }
      ],
      stripAnsiSequences: true, //default
      debug: false, //default
    }
  }
}
